body {  /* nothing for general, # for id, . for class */
	font-family: Arial, sans-serif;
	background: #f2f2f2;
	margin: 0;
}

#loginPage,
.pageStyleB {
	max-width: 500px;
	margin: 50px auto;
	background: white;
	padding: 25px;
	border-radius: 12px;
}

h1 {
	font-family: "Bookman Old Style", Bookman, Georgia, serif;
	font-size: 32px;
	font-weight: bold;
}

input {
	width: 100%;
	padding: 10px;
	margin: 8px 0;
	box-sizing: border-box;
}

button {
	padding: 10px 15px;
	margin: 5px;
	cursor: pointer;
	transition:
		transform 0.15s ease,
		box-shadow 0.15s ease;
}

button:hover {
	transform: scale(1.0005);
	box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

button:active {
	transform: translateY(1px) scale(0.98);
}

button.B {
	padding: 4px 6px;
	margin: 2px;
	cursor: pointer;
}

#messages {
	height: 400px;
	overflow-y: auto;
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 10px;
}

.message {
	background: #eeeeee;
	padding: 8px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 8px;
}

.message {
	animation: messageIn 0.25s ease-out;
}

.messageCompressed {
	background: #eeeeee;
	padding: 8px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 8px;
}

.message b {
	display: block;
}

.pageStyleB {
	display: none;
}

.superTop {
	position: fixed;
	z-index: 9999;
	top: 100px;
	
	left: 50%;
	transform: translateX(-50%);
	
	background: #222222;
	padding: 25px;
	
	max-width: 500px;
	max-height: 200px;
	
	margin: 50px auto;
	border-radius: 12px;
}

#emergencyBubble {
	position: fixed;
	right: 20px;
	bottom: 50px;
	
	width: 55px;
	height: 55px;
	
	border-radius: 50%;
	border: none;
	
	background: #222;
	color: white;
	
	font-size: 20px;
	cursor: grab;
	z-index: 9999;
	
	margin: 0;
	padding: 0;
	
	user-select: none;
	touch-action: none;
}

#emergencyBubble:active {
	cursor: grabbing;
}

.mask-password {
	-webkit-text-security: disc;
	text-security: disc;
}

#loginButton {
	animation: popIn 0.5s ease;
}

.fixedButton {
	padding: 4px 6px;
	margin: 2px;
	cursor: pointer;
	width: 45px;
	height: 45px;
	border-radius: 50%
}

.notification {
	animation: notificationIn 0.4s ease-out;
}

.onlineDot {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: limegreen;
	
	animation: pulse 1.5s ease-in-out infinite;
}

@keyframes popIn {
	from {
		opacity: 0;
		transform: scale(0.8);
	}
	
	to {
		opacity: 0;
		transform: scale(1);
	}
}

@keyframes bounce {
	0% {
		transform: translateY(0);
	}
	
	50% {
		transform: translateY(-15px);
	}
	
	100% {
		transform: translateY(0);
	}
}

@keyframes messageIn {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes notificationIn {
	from {
		opacity: 0;
		transform: translateX(100%);
	}
	
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes pulse {
	0%, 100% {
		transform: scale(1);
		opacity: 1;
	}
	
	50% {
		transform: scale(1.4);
		opacity: 0.5;
	}
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}